# virtual environments
venv/
.venv/

# log and temporary files
*.log
*.tmp
*.bak
.DS_Store
Thumbs.db

# metashape license file
*.lic
metashape.lic

# developer and not published scripts
troubleshooting.py
# PyExpress/QualityAssessment/quality_control_tools.py
PyExpress/DataManagement/influxDB.py
PyExpress/DataManagement/sftp.py
exampleProcessing.ipynb

# directories
build/
PyExpress/idea/
PyExpress/QualityAssessment/
TestPipeline/MSprojects/
.spyproject/
**.spyproject/
.archiv/
PyExpress.egg-info/
PyExpress/WorkflowExamples/agisoft_writeMarkerProjectionsToFile/

# caches ...
__pycache__/
*.py[cod]
*$py.class

# distributions and artifacts
dist/
*.egg-info/
.eggs/
**/*.egg
.wheel/