# SPDX-FileCopyrightText: 2025 Helmholtz-Zentrum für Umweltforschung GmbH - UFZ
# SPDX-License-Identifier: GPL-3.0-or-later

# log and temporary files
*.log
*.tmp
*.bak
.DS_Store
Thumbs.db

# metashape license file
*.lic
metashape.lic

# developer and not published scripts
PyExpress/DataManagement/influxDB.py
PyExpress/DataManagement/sftp.py

# directories
build/
PyExpress/QualityAssessment/
PyExpress/WorkflowExamples/agisoft_writeMarkerProjectionsToFile/

# caches
**/__pycache__/
__pycache__/
*.py[cod]
*$py.class

# distributions and artifacts
dist/
*.egg-info/
.eggs/
.wheel/

# environments
venv*/
**/.*